* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 1vw; 
}

body {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(90deg, #00c3ff 0%, #ffcc00 100%);
}

/* LOGIN SECTION */

.login {
    width: 20vw; 
    background-color: #ffffff;
    box-shadow: 0 0 0.45vw 0 rgba(0, 0, 0, 0.3); 
    margin: 5vw auto; 
}

.login h1 {
    text-align: center;
    color: #5b6574;
    font-size: 1.2vw;
    padding: 1vw 0 1vw 0; 
    border-bottom: 0.05vw solid #dee0e4;
}

.login form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 1vw;
}

.login form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5vw; /* Adjusted for responsiveness */
    height: 2.5vw; /* Adjusted for responsiveness */
    background-color: #3274d6;
    color: #ffffff;
}

.login form input[type="password"], .login form input[type="text"] {
    width: 15.5vw; /* Adjusted for responsiveness */
    height: 2.5vw; /* Adjusted for responsiveness */
    border: 0.05vw solid #dee0e4; /* Adjusted for responsiveness */
    margin-bottom: 1vw; /* Adjusted for responsiveness */
    padding: 0 0.75vw; /* Adjusted for responsiveness */
}

.login form input[type="submit"] {
    width: 100%;
    padding: 0.75vw; /* Adjusted for responsiveness */
    margin-top: 1vw; /* Adjusted for responsiveness */
    background-color: #3274d6;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}

.login form input[type="submit"]:hover {
    background-color: #2868c7;
    transition: background-color 0.2s;
}


/* RESPONSIVE LOGIN SECTION */
@media (max-width: 768px) {
    .login {
        width: 50vw; 
    }

    .login h1 {
        font-size: 2vw; 
    }

    .login form label, .login form input[type="password"], .login form input[type="text"] {
        width: 40vw; 
        height: 5vw; 
    }

    .login form input[type="submit"] {
        padding: 1.5vw; 
    }
}

@media (max-width: 480px) {
    .login {
        width: 80vw; 
    }

    .login h1 {
        font-size: 4vw; 
    }

    .login form label, .login form input[type="password"], .login form input[type="text"] {
        width: 70vw;
        height: 8vw; 
    }

    .login form input[type="submit"] {
        padding: 2vw; 
    }
}




/* REGISTER SECTION */


.register-button {
    width: 5vw; 
    padding: 0.1vw; 
    background-color: #3274d69d; 
    border: 0; 
    cursor: pointer; 
    font-weight: bold; 
    color: #ffffff; 
    transition: background-color 0.2s; 
}

 p {

    color: #5b6574; 
    font-size: 0.7vw; 
}

.register-button:hover {
    background-color: #2868c7; 
    transition: background-color 0.2s;
}